@model IEnumerable<_NSY.Models.InfoAccount>
@{
    ViewBag.Title = "Cập nhật khách hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <link rel="stylesheet" href="~/Assets/dist/css/hide-arrow-number.css">
    <link rel="stylesheet" href="~/Assets/plugins/ekko-lightbox/ekko-lightbox.css">
}
@section scripts{
    <!-- jquery ASP.NET -->
    <script src="~/Assets/plugins/ekko-lightbox/ekko-lightbox.min.js"></script>
    <script>
        $(function () {
            $(document).on('click', '[data-toggle="lightbox"]', function (event) {
                event.preventDefault();
                $(this).ekkoLightbox({
                    alwaysShowClose: true
                });
            });
            $('.btn[data-filter]').on('click', function () {
                $('.btn[data-filter]').removeClass('active');
                $(this).addClass('active');
            });
        })
    </script>
    <script src="~/Assets/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            bsCustomFileInput.init();
        });</script>
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Cập nhật khách hàng</h1>
                </div>
                <!-- /.col -->
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-dark">
                        <div class="card-header">
                            <div class="card-title">
                                Ảnh đại diện / Thẻ căn cước / CMND
                            </div>
                        </div>
                        @foreach (var anh in Model)
                        {
                            <div class="card-body">
                                <div class="row">
                                    @if (anh.Image_Avatar != null)
                                    {
                                        <div class="col-sm-2">
                                            <a href="~/Assets/Image/@anh.Image_Avatar" data-toggle="lightbox" data-title="Ảnh đại diện" data-gallery="gallery">
                                                <img src="~/Assets/Image/@anh.Image_Avatar" class="img-fluid mb-2" alt="Ảnh đại diện" />
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm-2">
                                            <a href="~/Assets/dist/img/avatar.png" data-toggle="lightbox" data-title="Ảnh đại diện" data-gallery="gallery">
                                                <img src="~/Assets/dist/img/avatar.png" class="img-fluid mb-2" alt="Ảnh đại diện" />
                                            </a>
                                        </div>
                                    }
                                    @if (anh.Image_IDCard1 != null)
                                    {
                                        <div class="col-sm-2">
                                            <a href="~/Assets/Image/@anh.Image_IDCard1" data-toggle="lightbox" data-title="Mặt trước Thẻ căn cước / CMND" data-gallery="gallery">
                                                <img src="~/Assets/Image/@anh.Image_IDCard1" class="img-fluid mb-2" alt="Mặt trước Thẻ căn cước / CMND" />
                                            </a>
                                        </div>
                                    }
                                    @if (anh.Image_IDCard2 != null)
                                    {
                                        <div class="col-sm-2">
                                            <a href="~/Assets/Image/@anh.Image_IDCard2" data-toggle="lightbox" data-title="Mặt sau Thẻ căn cước / CMND" data-gallery="gallery">
                                                <img src="~/Assets/Image/@anh.Image_IDCard2" class="img-fluid mb-2" alt="Mặt sau Thẻ căn cước / CMND" />
                                            </a>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body register-card-body">
                    <p class="login-box-msg">
                        <b>CẬP NHẬT KhÁCH HÀNG</b>
                    </p>
                    @using (Html.BeginForm("capnhatkhachhang", "manage", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <p><span style="color:Highlight">@ViewData["Err2"]</span></p>
                        <p><span style="color:red">@ViewData["Err1"]</span></p>
                        <p><span style="color:red">@ViewData["ErrMess1"]</span></p>
                        <p><span style="color:red">@ViewData["ErrMess2"]</span></p>
                        <p><span style="color:red">@ViewData["ErrMess3"]</span></p>
                        <p><span style="color:red">@ViewData["ErrMess4"]</span></p>
                        <p><span style="color:red">@ViewData["ErrMess5"]</span></p>
                        <div class="form-group">
                            <label for="avartar">Ảnh đại diện</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="fileAvatar" accept="image/*" name="fileAvatar">
                                <label class="custom-file-label text-muted" for="avartar">Cập nhật ảnh đại diện</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cmnd">Ảnh thẻ căn cước / CMND</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="fileIDCard1" accept="image/*" name="fileIDCard1">
                                <label class="custom-file-label text-muted" for="cmnd">Cập nhật mặt trước thẻ căn cước / CMND</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="fileIDCard2" accept="image/*" name="fileIDCard2">
                                <label class="custom-file-label text-muted" for="cmnd">Cập nhật mặt sau thẻ căn cước / CMND</label>
                            </div>
                        </div>
                        foreach (var tt in Model)
                        {
                            <label>Họ tên</label>
                            <div class="input-group mb-3">
                                @Html.TextBox("Username", null, new { @class = "form-control", type = "text", placeholder = "Họ và tên", Value = tt.Username })
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-user"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                @Html.TextBox("Birthday", null, new { @class = "form-control", type = "date", name = "Birthday", Value = Convert.ToDateTime(tt.Birthday).ToString("yyyy-MM-dd") })
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-birthday-cake"></span>
                                    </div>
                                </div>
                            </div>
                            <label>Giới tính:</label><text>&nbsp;&nbsp;&nbsp;&nbsp;</text>
                            if (tt.Sex.ToString() == "Nam")
                            {
                                <label class="radio-inline">
                                    @Html.RadioButton("Sex", "Nam", new { Checked = "checked" }) Nam
                                </label><text>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</text>
                                <label class="radio-inline">
                                    @Html.RadioButton("Sex", "Nữ") Nữ
                                </label><p></p>
                            }
                            else
                            {
                                <label class="radio-inline">
                                    @Html.RadioButton("Sex", "Nam") Nam
                                </label><text>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</text>
                                <label class="radio-inline">
                                    @Html.RadioButton("Sex", "Nữ", new { Checked = "checked" }) Nữ
                                </label><p></p>
                            }
                            <div class="input-group mb-3">
                                @Html.TextBox("PhoneNumber", null, new { @class = "form-control", type = "number", placeholder = "Số điện thoại", Value = tt.PhoneNumber })
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fas fa-phone"></span>
                                    </div>
                                </div>
                            </div>
                            <label>Thẻ căn cước / Chứng minh nhân dân</label>
                            <div class="input-group mb-3">
                                @Html.TextBox("IDCard", null, new { @class = "form-control", type = "number", placeholder = "Thẻ căn cước / Chứng minh nhân dân", Value = tt.IDCard })
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-id-card"></span>
                                    </div>
                                </div>
                            </div>
                            <label>Địa chỉ Email</label>
                            <div class="input-group mb-3">
                                @Html.TextBox("Email", null, new { @class = "form-control", type = "email", placeholder = "Địa chỉ Email", Value = tt.Email })
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-envelope"></span>
                                    </div>
                                </div>
                            </div>
                            <label>Ngày tham gia</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" value="@Convert.ToDateTime(tt.RegDate).ToString("dd/MM/yyyy HH:mm:ss tt")" disabled>
                                <div class="input-group-text">
                                    <span class="fa fa-calendar"></span>
                                </div>
                            </div>
                            <label>Lần cuối đăng nhập</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" value="@Convert.ToDateTime(tt.lastLogin).ToString("dd/MM/yyyy HH:mm:ss tt")" disabled>
                                <div class="input-group-text">
                                    <span class="fas fa-clock"></span>
                                </div>
                            </div>
                            <label>Thêm căn hộ</label>
                            <div class="input-group mb-3">
                                @Html.TextBox("AddidHome", null, new { @class = "form-control", placeholder = "Nhập mã căn hộ" })
                                <div class="input-group-text">
                                    <span class="fas fa-clock"></span>
                                </div>
                            </div>
                            <label>Căn hộ sở hữu</label><text>&nbsp;&nbsp;(</text><a href="@Url.Action("chitietcanho", "manage", new { id = tt.idUser })">Chi tiết</a><text>)</text><br />
                        }
                        <label>Mật khẩu</label>
                        <div class="input-group mb-3">
                            @Html.Password("Password", null, new { @class = "form-control", placeholder = "Mật khẩu" })
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            @Html.Password("Password1", null, new { @class = "form-control", placeholder = "Nhập lại mật khẩu" })
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <!-- /.col -->
                            <div class="col-md-auto">
                                <button type="submit" class="btn btn-primary btn-block" name="updateAccount" value="updateAccount" onclick="return confirm('Bạn có chắc muốn cập nhật tài khoản này ?')">Cập nhật</button>
                            </div>
                            <div class="col-md-auto">
                                <button type="submit" class="btn btn-danger btn-block" onclick="return confirm('Bạn có chắc muốn xóa tài khoản này chứ ?')">Xóa</button>
                            </div>
                            <!-- /.col -->
                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- /.card -->
    </section>
</div>
