@model _NSY.Models.Quanlydichvu
@{
    ViewBag.Title = "Dịch vụ gần hoặc quá hạn";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var money = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}

@helper Truncate(string input, int length)
{
if (input.Length < length)
{ @input}
else
{ @input.Substring(0, length)<text>...</text> }
}

@section styles {
    <link rel="stylesheet" href="~/Assets/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="~/Assets/dist/css/hide-arrow-number.css">
}
@section scripts {
    <script src="~/Assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Assets/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <script>
        $(function () {
            $("#example1").DataTable({ "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Tất cả"]] }); //Cái [] ngoài cùng hiện tên vd:"Tất cả" thì = -1
            $("#example2").DataTable({ "lengthMenu": [[10, 25, 50, 150, 200], [10, 25, 50, 150, 200]] }); //Cái [] ngoài cùng hiện tên vd:"Tất cả" thì = -1
            $("#example3").DataTable({ "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Tất cả"]] }); //Cái [] ngoài cùng hiện tên vd:"Tất cả" thì = -1
            $("#example4").DataTable({ "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Tất cả"]] }); //Cái [] ngoài cùng hiện tên vd:"Tất cả" thì = -1
        });
    </script>
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Danh sách dịch vụ gần hoặc quá hạn</h1>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="card card-widget card-info collapsed-card">
                        <div class="card-header">
                            <h3 class="card-title">Gần tới hạn trước 3 ngày</h3>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title text-danger"><b>Căn hộ</b></h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-2">
                            <table id="example1" class="table table-bordered table-striped text-nowrap">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>STT</th>
                                        <th>Tên căn hộ</th>
                                        <th>Ngày thuê</th>
                                        <th>Ngày hết hạn</th>
                                        <th>Giá thuê / tháng</th>
                                        <th>Mã căn hộ</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{int i = 0; }
                                        @foreach (var renthouse in Model.CanHoGanHetHan)
                                        {
                                            i++;
                                            <tr>
                                                <td><a href="@Url.Action("capnhatchungcu", "manage", new { id = @renthouse.idMain })"><i class="nav-icon fas fa-edit"></i></a></td>
                                                <td>@i</td>
                                                <td>@renthouse.name</td>
                                                <td>@Convert.ToDateTime(renthouse.DateRent).ToString("dd/MM/yyyy")</td>
                                                <td><span style="color:red">@Convert.ToDateTime(renthouse.ExpRent).ToString("dd/MM/yyyy")</span></td>
                                                <td>@String.Format(money, "{0:c0}", renthouse.Rent)</td>
                                                <td><a href="@Url.Action("canho", "manage", new { id = renthouse.idMain })">@renthouse.idMain</a></td>
                                                <td><a class="btn btn-success btn-sm" href="@Url.Action("xacnhanthanhtoancanho", "manage", new { id = renthouse.idMain})">Xác nhận thanh toán</a></td>
                                            </tr>
                                        }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title text-danger"><b>Dịch vụ</b></h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-2">
                            <table id="example4" class="table table-bordered table-striped text-nowrap">
                                <thead>
                                    <tr>
                                        @if (Equals(Session["idChucvu"], 1) || Equals(Session["idChucvu"], 3))
                                        {
                                            <th>#</th>
                                        }
                                        <th>STT</th>
                                        <th>Tên dịch vụ</th>
                                        <th>Ngày đăng ký</th>
                                        <th>Ngày hết hạn</th>
                                        <th>Hệ số sử dụng</th>
                                        <th>Giá dịch vụ / tháng</th>
                                        <th>Đơn vị</th>
                                        <th>Dạng dịch vụ</th>
                                        <th>Tổng giá dịch vụ/tháng</th>
                                        <th>Mã dịch vụ</th>
                                        <th>Thuộc căn hộ (mã căn hộ)</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{int i3 = 0; }
                                    @foreach (var dvkh in Model.DVGanHetHan)
                                    {
                                        i3++;
                                        <tr>
                                            @if (Equals(Session["idChucvu"], 1) || Equals(Session["idChucvu"], 3))
                                            {
                                                <td>
                                                    <a href="@Url.Action("capnhatdichvukhachhang", "manage", new { id = @dvkh.idService })"><i class="nav-icon fas fa-edit"></i></a>
                                                    &ensp;<a href="@Url.Action("huydichvukhachhang", "manage", new { id = @dvkh.idService })"><i class="nav-icon fas fa-trash-alt"></i></a>
                                                </td>
                                            }
                                            <td>@i3</td>
                                            <td>@dvkh.name_service</td>
                                            <td>@Convert.ToDateTime(dvkh.RegDate).ToString("dd/MM/yyyy")</td>
                                            <td><span style="color:red">@Convert.ToDateTime(dvkh.ExpDate).ToString("dd/MM/yyyy")</span></td>
                                            <td>@dvkh.value</td>
                                            <td>@String.Format(money, "{0:c0}", dvkh.Price)</td>
                                            <td>@dvkh.DonVi</td>
                                            @if (dvkh.type == true)
                                            {
                                                decimal tongtien = decimal.Parse(dvkh.value.ToString()) * dvkh.Price;
                                                <td>Hệ số</td>
                                                <td>@String.Format(money, "{0:c0}", tongtien)</td>
                                            }
                                            else
                                            {
                                                <td>Không hệ số</td>
                                                <td>@String.Format(money, "{0:c0}", dvkh.Price)</td>
                                            }
                                            <td>@dvkh.idService</td>
                                            <td><a href="@Url.Action("canho", "manage", new { id = dvkh.idHome })">@dvkh.idHome</a></td>
                                            <td><a class="btn btn-success btn-sm" href="@Url.Action("xacnhanthanhtoandichvu", "manage", new { id = dvkh.idService })">Xác nhận thanh toán</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <div class="col">
                    <div class="card card-widget card-danger collapsed-card">
                        <div class="card-header">
                            <h3 class="card-title">Quá hạn</h3>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title text-danger"><b>Căn hộ</b></h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-2">
                            <table id="example3" class="table table-bordered table-striped text-nowrap">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>STT</th>
                                        <th>Tên căn hộ</th>
                                        <th>Ngày thuê</th>
                                        <th>Ngày hết hạn</th>
                                        <th>Giá thuê / tháng</th>
                                        <th>Mã căn hộ</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{int i2 = 0; }
                                    @foreach (var renthouse in Model.apartment)
                                    {
                                        i2++;
                                        <tr>
                                            <td><a href="@Url.Action("capnhatchungcu", "manage", new { id = @renthouse.idMain })"><i class="nav-icon fas fa-edit"></i></a></td>
                                            <td>@i2</td>
                                            <td>@renthouse.name</td>
                                            <td>@Convert.ToDateTime(renthouse.DateRent).ToString("dd/MM/yyyy")</td>
                                            <td><span style="color:red">@Convert.ToDateTime(renthouse.ExpRent).ToString("dd/MM/yyyy")</span></td>
                                            <td>@String.Format(money, "{0:c0}", renthouse.Rent)</td>
                                            <td><a href="@Url.Action("canho", "manage", new { id = renthouse.idMain })">@renthouse.idMain</a></td>
                                            <td><a class="btn btn-success btn-sm" href="@Url.Action("xacnhanthanhtoancanho", "manage", new { id = renthouse.idMain})">Xác nhận thanh toán</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title text-danger"><b>Dịch vụ</b></h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-2">
                            <table id="example2" class="table table-bordered table-striped text-nowrap">
                                <thead>
                                    <tr>
                                        @if (Equals(Session["idChucvu"], 1) || Equals(Session["idChucvu"], 3))
                                        {
                                            <th>#</th>
                                        }
                                        <th>STT</th>
                                        <th>Tên dịch vụ</th>
                                        <th>Ngày đăng ký</th>
                                        <th>Ngày hết hạn</th>
                                        <th>Hệ số sử dụng</th>
                                        <th>Giá dịch vụ / tháng</th>
                                        <th>Đơn vị</th>
                                        <th>Dạng dịch vụ</th>
                                        <th>Tổng giá dịch vụ/tháng</th>
                                        <th>Mã dịch vụ</th>
                                        <th>Thuộc căn hộ (mã căn hộ)</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{int i4 = 0; }
                                    @foreach (var dvkh in Model.Dichvukhachhang)
                                    {
                                        i4++;
                                        <tr>
                                            @if (Equals(Session["idChucvu"], 1) || Equals(Session["idChucvu"], 3))
                                            {
                                                <td>
                                                    <a href="@Url.Action("capnhatdichvukhachhang", "manage", new { id = @dvkh.idService })"><i class="nav-icon fas fa-edit"></i></a>
                                                    &ensp;<a href="@Url.Action("huydichvukhachhang", "manage", new { id = @dvkh.idService })"><i class="nav-icon fas fa-trash-alt"></i></a>
                                                </td>
                                            }
                                            <td>@i4</td>
                                            <td>@dvkh.name_service</td>
                                            <td>@Convert.ToDateTime(dvkh.RegDate).ToString("dd/MM/yyyy")</td>
                                            <td><span style="color:red">@Convert.ToDateTime(dvkh.ExpDate).ToString("dd/MM/yyyy")</span></td>
                                            <td>@dvkh.value</td>
                                            <td>@String.Format(money, "{0:c0}", dvkh.Price)</td>
                                            <td>@dvkh.DonVi</td>
                                            @if (dvkh.type == true)
                                            {
                                                decimal tongtien = decimal.Parse(dvkh.value.ToString()) * dvkh.Price;
                                                <td>Hệ số</td>
                                                <td>@String.Format(money, "{0:c0}", tongtien)</td>
                                            }
                                            else
                                            {
                                                <td>Không hệ số</td>
                                                <td>@String.Format(money, "{0:c0}", dvkh.Price)</td>
                                            }
                                            <td>@dvkh.idService</td>
                                            <td><a href="@Url.Action("canho", "manage", new { id = dvkh.idHome })">@dvkh.idHome</a></td>
                                            <td><a class="btn btn-success btn-sm" href="@Url.Action("xacnhanthanhtoandichvu", "manage", new { id = dvkh.idService })">Xác nhận thanh toán</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
    </section>
    <!-- End Main content -->
</div>
